<% @students.each do |student| %>  
  <article>  

    <p>  
      Student id: <%= student.id %>   
    </p>

    <p>  
      Student name: <%= student.name %>   
    </p>    
    
    <p>  
      Tagline: <%= student.tagline %>   
    </p>  
    
    <p>  
      Short: <%= student.short %>   
    </p>  

    <p>  
      Aspirations: <%= student.aspirations %>   
    </p>  

    <p>  
      Interests: <%= student.interests %>   
    </p>  

  </article>
<% end %> 